@font-face{
    font-family: "Cora-Free";/* Для поддержки браузера IE6+ */
    src: url("../fonts/BebasNeue Bold.ttf");
    font-weight: normal;
    font-style: normal;
} 
@font-face{
    font-family: "OpenSans-Light";/* Для поддержки браузера IE6+ */
    src: url("../fonts/OpenSans-Light.ttf");
    font-weight: normal;
    font-style: normal;
} 
@font-face{
    font-family: "OpenSans-Bold";/* Для поддержки браузера IE6+ */
    src: url("../fonts/OpenSans-Bold.ttf");
    font-weight: normal;
    font-style: normal;
} 
@font-face{
    font-family: "OpenSans-LightItalic";/* Для поддержки браузера IE6+ */
    src: url("../fonts/OpenSans-LightItalic.ttf");
    font-weight: normal;
    font-style: normal;
}